.doctors, #doctorRecent {
    display: none;
}

#queryForm {
    border: 1px solid black;
    border-radius: 3px;
    padding: 2%;
    background: rgba(0, 0, 0, 0.55);
}

.doctors {

}

#doctorTitle {
    font-weight: bold;
    font-size: 40px;
}

table#doctorList {
    overflow-wrap: break-word;
    display: table;
}

body {
    background-image: url("bg.jpg");
    color: white;
}

h1 {
    color: black;
}